:root {
  --aw-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  --aw-font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --aw-font-serif: var(--aw-font-sans);
  --aw-font-heading: var(--aw-font-sans);

  --aw-color-primary: #c72f1c;
  /* --aw-color-secondary: #d97706; */
  --aw-color-secondary: #e65c00;
  --aw-color-accent: #00ac57;

  --aw-color-text-heading: rgb(45 45 45);
  --aw-color-text-default: rgb(71 85 95);
  --aw-color-text-muted: rgb(100 116 139);
  --aw-color-bg-page: rgb(255 255 255);
  --aw-color-bg-block: #f9fafb;

  --aw-color-bg-page-dark: rgb(15 23 42);

  --aw-color-text-invert: rgb(255 255 255);

  --comment-blue: var(--aw-color-secondary);

  --subscribe-input-background: #f3f4f6;
  --subscribe-input-text: #000000;
  --subscribe-button-background: #ea580c;
  --subscribe-button-text: #ffffff;
  --subscribe-widget-border: 0.05px solid var(--subscribe-button-background);

  ::selection {
    background-color: lavender;
  }
}

.dark {
  --aw-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  --aw-font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --aw-font-serif: var(--aw-font-sans);
  --aw-font-heading: var(--aw-font-sans);

  --aw-color-primary: rgb(200 30 30);
  --aw-color-secondary: #3b82f6;
  /* --aw-color-secondary: #6b9ff9; */
  --aw-color-accent: rgb(109 40 217);

  --aw-color-text-heading: rgb(198 198 198);
  --aw-color-text-default: rgb(148 163 184);
  --aw-color-text-muted: rgb(100 116 139);
  --aw-color-bg-page: var(--aw-color-bg-page-dark);
  --aw-color-bg-block: #1f2937;
  --aw-color-text-invert: #e2e2e2;
  --comment-blue: var(--aw-color-secondary);

  --subscribe-input-background: #f3f4f6;
  --subscribe-input-text: #000000;
  --subscribe-button-background: #3b82f6;
  --subscribe-button-text: #ffffff;

  ::selection {
    background-color: black;
    color: snow;
  }
}

